.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.search-input {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  color: #e0e0e0;
  width: 100%;
  border-bottom: 2px solid #bccbe1;
  transition: border-bottom 0.3s;
}

.search-input::placeholder {
  color: #b0b0b0;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  color: #8cb6f5;
}
