.player-display-small {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    color: lightgray;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.player-name {
    font-weight: bold;
    margin-bottom: 4px;
    display: flex;
    align-items: center; /* Align items vertically in the row */
}

.player-position {
    font-weight: bold;
}

.middle-column, .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.stat-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.label {
    font-weight: bold;
}

.value {
    font-size: 0.9em;
}

.stat {
    display: flex;
    flex-direction: column;
}

.stat-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.horizontal-line {
    border-top: 1px solid lightgray;
    margin: 4px 0;
}

.middle-column {
    border-right: 1px solid lightgray;
    padding-right: 8px;
}

.right-column {
    padding-left: 8px;
}

.star-rating {
    font-size: 1.2em;
    color: gold;
}

.star-rating span {
    display: inline-block;
}

.adp-info {
    display: flex; /* Use flexbox to arrange items horizontally */
    flex-direction: column; /* Stack labels and values vertically */
    margin-top: 10px;
    font-size: 14px;
    color: lightgray;
}

.adp-info .adp-section {
    display: flex; /* Arrange labels and values horizontally */
    justify-content: space-between; /* Distribute space evenly */
}

.adp-info .label {
    font-weight: bold;
    margin-right: 5px; /* Space between label and value */
}

.adp-info .value {
    font-weight: normal;
}

.adp-info .value-over {
    display: flex; /* Arrange VORP and VOAS horizontally */
    justify-content: space-between; /* Distribute space evenly */
}


.favorite-icon {
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-left: 10px; /* Space between heart icon and player name */
    color: black; /* Default color for the heart icon */
}

.favorite-icon.favorited {
    color: red; /* Red color for the heart icon when favorited */
    position: relative; /* Position relative to create the outline */
}

.favorite-icon.favorited::before {
    content: "\f004"; /* FontAwesome heart icon */
    font-family: "Font Awesome 5 Free"; /* Ensure FontAwesome is used */
    position: absolute; /* Absolute positioning to layer above the icon */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid black; /* Black outline for the heart icon */
    border-radius: 50%; /* Rounded border for the heart icon */
    z-index: -1; /* Place the outline behind the heart icon */
    color: transparent; /* Make sure the before element does not obscure the heart icon */
    padding: 4px; /* Add padding to ensure the outline does not overlap */
}
