  .tiers-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    position: relative;
  }

  .lock-button {
    position: absolute;
    top: 5px;
    right: 0px;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    opacity: 0.7;
  }

  
  .positional-tiers {
    background-color: #1f1f1f;
    color: #8cb6f5;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 0.9rem;
  }
  
  .positional-tiers h2 {
    border-bottom: 1px solid #8cb6f5;
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
  }
  
  .individual-tier {
    background-color: #2f2f2f;
    padding: 0.25rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: visible;
  }
  
  .individual-tier h3 {
    color: #8cb6f5;
    font-size: 0.9rem;
  }
  
  .individual-tier ul {
    list-style: none;
    padding: 0;
    font-size: 0.8rem;
    overflow: auto;
  }
  
  .individual-tier li {
    margin: 0.25rem 0;
  }
  
  .empty-tier-placeholder {
    height: 200px;
    border: 2px dotted lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightblue;
    font-size: 1rem;
  }

  .add-tier-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }
  
  .add-tier-text {
    color: lightgray;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .add-tier-text::before,
  .add-tier-text::after {
    content: "";
    position: absolute;
    top: 50%;
    border-bottom: 1px solid lightgray;
    width: 70px;
    height: 0;
    transform: translateY(-50%);
  }
  
  .add-tier-text::before {
    right: calc(100% - 15px);
    margin-right: 10px;
  }
  
  .add-tier-text::after {
    left: calc(100% - 15px);
    margin-left: 10px;
  }
  
  .add-tier-text:hover {
    color: white;
  }

.add-tier-text:hover::before,
.add-tier-text:hover::after {
  border-color: white;
}

.individual-tier.over-empty {
  border: 2px dashed green;
}

.individual-tier.over-non-empty {
  border: 2px dashed blue;
}

.drag-overlay {
  background-color: #2f2f2f;
  color: #8cb6f5;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #8cb6f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
  position: absolute;
  z-index: 100;
  pointer-events: none;
}

.individual-tier::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px dashed transparent;
  pointer-events: none;
}

.individual-tier.over-empty::before {
  border-color: green;
}

.individual-tier.over-non-empty::before {
  border-color: blue;
}